{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["**/i18n/**.json"],
      "options": {
        "parser": "json",
        "plugins": ["prettier-plugin-sort-json"],
        "jsonRecursiveSort": true
      }
    },
    {
      "files": ["src/app/**/*.html"],
      "excludeFiles": ["src/index.html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
