{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["**/i18n/**.json"],
      "options": {
        "parser": "json",
        "plugins": ["prettier-plugin-sort-json"],
        "jsonRecursiveSort": true
      }
    }
  ]
}
